version: 2
updates:
  - package-ecosystem: mix
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor"]
    groups:
      mix-patches:
        update-types:
          - "patch"
  - package-ecosystem: npm
    directory: "/assets"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 5
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-minor"]
    groups:
      npm-patches:
        update-types:
          - "patch"
      eslint:
        patterns:
          - "eslint*"
          - "@typescript-eslint*"
      react:
        patterns:
          - "react*"
          - "@types/react*"
      testing-tools:
        patterns:
          - "ts-jest"
          - "@types/jest"
          - "jest*"
          - "@testing-library*"
      moment:
        patterns:
          - "moment*"
      sentry:
        patterns:
          - "@sentry/*"
