<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= if @username do %>
        <meta name="username" content={@username}>
    <% end %>
    <meta name="environment-name" content={@environment_name}>
    <%= if @sentry_frontend_dsn do %>
        <meta name="sentry" content={@sentry_frontend_dsn}>
    <% end %>
    <%= if @screens_url do %>
        <meta name="screens-url" content={@screens_url}>
    <% end %>
    <%= if @signs_ui_url do %>
        <meta name="signs-ui-url" content={@signs_ui_url}>
    <% end %>
    <%= if @alerts_ui_url do %>
        <meta name="alerts-ui-url" content={@alerts_ui_url}>
    <% end %>
    <%= if @is_admin do %>
        <meta name="is-admin" content={@is_admin}>
    <% end %>
    <%= if @fullstory_org_id do %>
        <meta name="fullstory_org_id" content={@fullstory_org_id}>
    <% end %>
    <%= csrf_meta_tag() %>
    <title>Screenplay</title>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
  </body>
</html>
