<div
    id="app"
    data-username="<%= @username %>"
    data-sentry="<%= @sentry_frontend_dsn %>"
    data-screens-url="<%= @screens_url %>"
    data-signs-ui-url="<%= @signs_ui_url %>"
    data-alerts-ui-url="<%= @alerts_ui_url %>"
></div>
