# Example environment configuration file: copy to `.envrc` (this is git-ignored)
# and fill in any additional values you need. Will be automatically loaded and
# unloaded by `direnv` if installed, or execute manually using `source .envrc`.

# export SFTP_HOST=
# export SFTP_USER=
# export SFTP_REMOTE_PATH=
# export SFTP_LOCAL_PATH=
# export SECRET_KEY_BASE=
# export GUARDIAN_SECRET_KEY=
# export API_V3_KEY=
# export CLARITY_TAG=
