If you are trying to access Screenplay in order to view realtime screen information, add `/dashboard` to the url. (i.e., screenplay.mbta.com/dashboard).

If you are trying to access the Outfront Takeover Tool, you are not authorized. If you believe you should have access, contact hpurcell@mbta.com.
