@import "./colors.scss";

.wizard-container {
  display: flex;
  margin-bottom: 120px;

  .wizard-left-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .wizard-header {
      background: $gray-200;
      border-bottom: 1px solid $gray-400;
      border-radius: 8px 0 0 0;
      display: flex;
      align-items: center;
      padding: 24px;

      .wizard-cancel {
        background-color: $gray-50;
        border: 1px solid $gray-300;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        color: $gray-600;
        padding: 0 17px 0 15px;
        margin: 0 20px 0 0;
        &:hover {
          background-color: white;
        }

        .x {
          width: 12px;
          height: 12px;
          margin-right: 16px;
        }
      }
    }
    .wizard-stepper {
      background: $gray-200;
    }
    .wizard-body {
      flex-grow: 1;
      background: white;
      border-radius: 0 0 0 8px;
      color: $gray-600;
      padding-bottom: 17px;

      .step-instructions {
        padding: 24px;

        .step-header {
          color: $gray-800;
          font-size: 20px;
          margin-bottom: 16px;
        }

        &.flex {
          display: flex;
        }
        .hang-left {
          flex: 1;
        }
        .hang-right {
          text-align: right;
          margin-left: 24px;
          flex-shrink: 0;
          .legend-entry {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 8px;
            .legend-text {
              margin-right: 8px;
            }
          }
        }
      }

      .step-body {
        background: $gray-100;
        // ok this padding will need to be auto eventually
        padding: 24px;
        display: flex;

        // CREATE MESSAGE CLASSES
        .info {
          margin-right: 50px;
          flex-shrink: 0;
          display: flex;
          align-items: center;
        }
        .message-select {
          white-space: normal;
          height: auto;
          width: 100%;
          font: unset;
          color: $gray-900;
          background-color: white;
        }
        .message-textarea {
          flex-grow: 1;
          width: 100%;
          font: inherit;
          height: 90px;
          background: white;
        }
        //  END OF CREATE MESSAGE CLASSES

        // PICK STATIONS CLASSES
        .station-column {
          flex: 1 1 0px;
          margin-right: 24px;

          &.green {
            margin-right: 0;
          }
        }

        // END PICK STATIONS CLASSES
      }
    }
  }
}

.wizard-sidebar {
  background: $gray-500;
  width: 318px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 8px 8px 0;

  .preview-title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
  }
  .svg-previews {
    margin-bottom: 24px;
  }
}

.wizard-nav-footer {
  background-color: #f3f4f6e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  position: fixed;
  bottom: 12px;
  width: calc(100% - 120px);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);

  .forward {
    align-items: center;
    display: flex;
    margin-left: auto;
    .disabled-text {
      color: $pink-700;
      font-weight: bold;
    }
  }

  .nav-button {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    margin: 24px;
    &:not(:disabled):hover {
      background: $pink-900;
    }
  }
}

.radio-option {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background: white;
  border: 1px solid $gray-200;
  padding: 12px;

  &.option-one {
    border-radius: 6px 6px 0 0;
  }
  &.option-two {
    border-radius: 0 0 6px 6px;
  }

  input[type="radio"] {
    margin-right: 17px;
  }
}
.selected-option {
  background: $pink-100 !important;
  border-color: $pink-700 !important;
}

.landscape-hidden {
  display: none;
}
.portrait-svg {
  g#Text {
    line-height: 128px;
  }
}

.details-grid {
  margin-bottom: 0;
  .gray-row {
    background: $gray-100;
  }
  td, .padded-by-line {
    color: $gray-600;
    vertical-align: top;
    padding: 24px;
  }
  td:first-child {
    width: 175px;
  }
  &.past-alert td {
    padding: 12px 24px;
    border-bottom: 0px;
  }
  .emphasized-cell {
    font-weight: 600;
    color: $gray-800;
    &.round-corner {
      border-bottom-right-radius: 8px;
    }
  }
  .edit-link {
    cursor: pointer;
    color: $pink-700;
  }
}

.submit-button-stripes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 318px;
  border-radius: 0 8px 8px 0;
  background: repeating-linear-gradient(
    135deg,
    $bright-yellow,
    $bright-yellow 12px,
    black 12px,
    black 28px
  );
  .submit-button {
    background-color: $gray-50;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    color: #171f26;
    &:hover {
      background-color: white;
    }
  }
}

.stepper {
  display: flex;
  background-color: $gray-200;
  .step {
    display: flex;
    flex-grow: 1;
    padding: 16px 24px;
    align-items: center;
  }
  .step-text {
    color: $gray-800;
    &.emphasized {
      color: $pink-700;
      font-weight: 700;
    }
    &.muted {
      color: $gray-600;
    }
  }
}

.concurrent-warning-container {
  display: flex;
  background-color: $pink-700;
  color: white;
  align-items: center;
  justify-content: start;
  flex-flow: row;
  height: 64px;
  padding: 16px 24px;

  .warning-container-child {
    display: flex;
    font-weight: bold;
  }
}

textarea {
  resize: none;
}

.pick-station-message {
  margin: 0px;
}
