@import "./colors.scss";

.wizard-container {
  display: flex;
  margin-bottom: 120px;

  .wizard-left-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .wizard-header {
      background: $gray-200;
      border-bottom: 1px solid $gray-400;
      border-radius: 8px 0 0 0;
      display: flex;
      align-items: center;
      padding: 24px;

      .wizard-cancel {
        background: white;
        border: 1px solid $gray-300;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        color: $gray-600;
        padding: 0 17px 0 15px;
        margin: 0 20px 0 0;

        .x {
          width: 12px;
          height: 12px;
          margin-right: 16px;
        }
      }
    }
    .wizard-stepper {
      background: $gray-200;
    }
    .wizard-body {
      flex-grow: 1;
      background: white;
      border-radius: 0 0 0 8px;
      color: $gray-600;
      padding-bottom: 17px;

      .step-instructions {
        padding: 24px;

        .step-header {
          color: $gray-800;
          font-size: 20px;
          margin-bottom: 16px;
        }

        &.flex {
          display: flex;
        }
        .hang-left {
          flex: 1;
        }
        .hang-right {
          text-align: right;
          margin-left: 24px;
          flex-shrink: 0;
          .legend-entry {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 8px;
            .legend-text {
              margin-right: 8px;
            }
          }
        }
      }

      .step-body {
        background: $gray-100;
        // ok this padding will need to be auto eventually
        padding: 24px;
        display: flex;

        // CREATE MESSAGE CLASSES
        .info {
          margin-right: 50px;
          flex-shrink: 0;
        }
        .message-select {
          white-space: normal;
          height: auto;
          width: 100%;
          font: unset;
          color: $gray-900;
          background-color: white;
        }
        .message-textarea {
          flex-grow: 1;
          width: 100%;
          font: inherit;
          height: 90px;
          background: white;
        }
        //  END OF CREATE MESSAGE CLASSES

        // PICK STATIONS CLASSES
        .station-column {
          flex: 1 1 0px;
          margin-right: 24px;

          &.green {
            margin-right: 0;
          }
        }

        // END PICK STATIONS CLASSES
      }
    }
  }
}

.wizard-sidebar {
  background: $gray-500;
  width: 318px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 8px 8px 0;

  .preview-title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: $gray-600;
  display: flex;
  justify-content: center;
  > div {
    height: 1px;
    width: calc(100% - 12px);
    background: $gray-400;
  }
  &.confirmation {
    background: none;
  }
}

.station-card {
  padding: 12px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;

  &.read-only {
    background: $gray-600;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    > * {
      margin-right: 8px;
    }
  }
  &.confirmation {
    background: white;
    .station-name {
      color: $gray-800;
      font-weight: 600;
    }
  }
  &.line {
    border-radius: 6px 6px 0 0;
  }

  label {
    display: flex;
    align-items: center;
  }
  input[type="checkbox"] {
    margin: 0 16px 0 0;
  }
  .line-name {
    font-size: 18px;
    line-height: 18px;
    color: white;
    padding: 3px 12px;
    border-radius: 13.5px;
    letter-spacing: 0.375px;
    font-weight: 700;
    &.abbrev {
      padding: 3px 6.56px;
      height: fit-content;
    }
  }
  .station-name {
    flex-grow: 1;
    &.disabled {
      margin-left: 29px;
      font-weight: normal;
      color: $gray-400;
    }
  }
  .screen-icon {
    margin-left: 8px;
    align-self: normal;
  }
}
.station-card.selectable {
  border: 1px solid $gray-200;
  background: white;

  &:last-of-type {
    border-radius: 0 0 6px 6px;
  }
}
.stacked-station-cards {
  width: 100%;
  &.confirmation {
    width: fit-content;
  }
  .station-card:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .station-card:nth-last-child(2) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .separator:last-child {
    display: none;
  }
}

.wizard-nav-footer {
  background-color: #f3f4f6e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-radius: 8px;
  position: fixed;
  bottom: 12px;
  width: calc(100% - 120px);

  button {
    display: flex;
    align-items: center;
    padding: 0 17px;
    font-weight: 500;
    font-size: 16px;
    background: $pink-700;
    border: none;
    :first-child {
      margin-right: 14.5px;
    }
  }
  button[disabled] {
    background: $gray-500;
    opacity: 1;
  }

  .arrow-icon {
    width: 15px;
  }
  .forward-button {
    margin-left: auto;
  }
}
.radio-option {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background: white;
  border: 1px solid $gray-200;
  padding: 12px;

  &.option-one {
    border-radius: 6px 6px 0 0;
  }
  &.option-two {
    border-radius: 0 0 6px 6px;
  }

  input[type="radio"] {
    margin-right: 17px;
  }
}
.selected-option {
  background: $pink-100 !important;
  border-color: $pink-700 !important;
}

.landscape-hidden {
  display: none;
}
.portrait-svg {
  margin-bottom: 24px;
}

.confirmation-grid {
  .gray-row {
    background: $gray-100;
  }
  td {
    vertical-align: top;
    padding: 24px;
  }
  .emphasized-cell {
    font-weight: 600;
    color: $gray-800;
  }
  .edit-link {
    cursor: pointer;
    color: $pink-700;
  }
}
