@import "./colors.scss";

.intro-block {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 8px;

  .exclamation-circle {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    background: $pink-700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    flex-shrink: 0;

    .exclamation {
      height: 38.4px;
      width: 38.4px;
      color: white;
    }
  }

  .intro-text {
    margin: 0 24px 0 0;
    flex-grow: 1;
    font-weight: 500;
    :last-child {
      margin: 0;
    }
    .emphasized {
      font-weight: 700;
      color: $pink-700;
    }
  }

  .create-alert-button {
    background-color: $pink-700;
    height: 50px;
    &:hover {
      background-color: $pink-900;
    }
  }
}

.alerts-list-header {
  font-weight: 800;
  margin: 48px 0 3px 24px;
  color: white;
  display: flex;
}

.clear-all-alerts-button {
  margin-left: auto;
  background-color: $cyan-700;
}

.alert-card {
  display: flex;
  margin-top: 24px;
  .alert-preview {
    padding: 24px 66px;
    background: $gray-500;
    border-radius: 8px 0 0 8px;
  }
  .alert-details {
    flex-grow: 1;
    background-color: white;
    border-radius: 0 8px 8px 0;
  }
  .alert-reminder {
    align-items: center;
    background-color: $pink-700;
    color: white;
    display: flex;
    font-weight: 700;
    height: 64px;

    .reminder-icon {
      height: 32px;
      width: 32px;
      margin: 16px;
      margin-left: 28px;
    }

    .reminder-action {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .alert-header {
    display: flex;
    background: $gray-200;
    align-items: center;
    border-top-right-radius: 8px;
    padding: 12px 24px;
    button {
      margin-left: 24px;
    }
    .edit-button {
      color: $gray-700;
      background-color: $gray-50;
      &:hover {
        background-color: white;
      }
    }
    .clear-button {
      background-color: $cyan-700;
      &:hover {
        background-color: $cyan-900;
      }
    }
  }
}

.portrait-png {
  height: 480px;
  width: 270px;
  max-width: none;
}
