.animation {
  background-color: rgba(0, 117, 219, 0.24);
  mix-blend-mode: normal;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  z-index: 2;
  cursor: pointer;
  transition: all 1s;
}
