/* This file is for your main application css. */
@import "./alert-dashboard.scss";
@import "./alert-wizard.scss";
@import "./phoenix.css";
@import "./colors.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/buttons";

html {
  background: $gray-700;
  font-family: "Inter", sans-serif;
  body {
    margin: 0;
  }
}

.app-container {
  margin: 24px 60px;

  .app-title {
    display: flex;
    height: 120px;
    align-items: center;
    margin-bottom: 24px;

    .logo {
      height: 64px;
      width: 64px;
      flex-shrink: 0;
      margin: 0 20px 0 24px;
    }
    .stacked-title {
      color: white;
    }
  }
}

.screen-icon {
  background: $gray-400;
  &.landscape {
    height: 13.5px;
    width: 24px;
  }
  &.portrait {
    width: 13.5px;
    height: 24px;
  }
  &.none {
    background: repeating-linear-gradient(
      45deg,
      $gray-200,
      $gray-200 12px,
      white 10px,
      white 15px
    );
    width: 13.5px;
    height: 24px;
  }
}

.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-30 {
  font-size: 30px;
  line-height: 36px;
}
.weight-500 {
  font-weight: 500;
}
.weight-700 {
  font-weight: 700;
}
.weight-800 {
  font-weight: 800;
}
