/* This file is for your main application css. */
@import "./alert-dashboard.scss";
@import "./phoenix.css";
@import "./colors.scss";


html {
  background: $gray-700;
}

.app-container {
  margin: 24px 60px;

  .app-title {
    display: flex;
    height: 120px;
    align-items: center;
    margin-bottom: 24px;

    .logo {
      height: 64px;
      width: 64px;
      flex-shrink: 0;
      margin: 0 20px 0 24px;
    }
    .stacked-title {
      color: white;
      font-size: 30px;
      line-height: 36px;
    }
  }
}

.text-16 { font-size: 16px; }
.bold { font-weight: 700; }
