/* This file is for your main application css. */
@import "./alert-dashboard.scss";
@import "./alert-wizard.scss";
@import "./colors.scss";
@import "./phoenix.css";
@import "./stacked-stations.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/buttons";

html {
  background: $gray-700;
  font-family: "Inter", sans-serif;
  body {
    margin: 0;
  }
}

.app-container {
  margin: 24px 60px;

  .app-title {
    display: flex;
    height: 120px;
    align-items: center;
    margin-bottom: 24px;

    .logo {
      height: 64px;
      width: 64px;
      flex-shrink: 0;
      margin: 0 20px 0 24px;
    }
    .stacked-title {
      color: white;
    }
  }
}

.screen-icon {
  background: $gray-400;
  &.landscape {
    height: 13.5px;
    width: 24px;
  }
  &.portrait {
    width: 13.5px;
    height: 24px;
  }
  &.none {
    background: repeating-linear-gradient(
      45deg,
      $gray-200,
      $gray-200 12px,
      white 10px,
      white 15px
    );
    width: 13.5px;
    height: 24px;
  }
}

.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}
.text-30 {
  font-size: 30px;
  line-height: 36px;
}
.weight-500 {
  font-weight: 500;
}
.weight-700 {
  font-weight: 700;
}
.weight-800 {
  font-weight: 800;
}

.button-icon {
  width: 15px;
  margin-right: 10px;
  &.right {
    margin-right: 0;
    margin-left: 10px;
  }
}

button {
  display: flex;
  align-items: center;
  padding: 0 17px;
  font-weight: 500;
  font-size: 16px;
  background: $pink-700;
  border: none;
  border-radius: 6px;
  :first-child {
    margin-right: 14.5px;
  }
}
button[disabled] {
  background: $gray-500;
  opacity: 1;
}

footer {
  color: $gray-400;
  text-align: center;
  padding: 32px 0;
  border-top: 1px solid #e5e7eb40;
  margin-top: 48px;
}

.modal-content {
  border-radius: 8px;
  border: none;
  .modal-body {
    padding: 24px;
    .modal-header {
      justify-content: unset;
      border: none;
      padding: 0 0 24px 0;
    }
    .header-text {
      color: $gray-800;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      
    }
    .modal-description {
      margin-left: 64px;
      color: $gray-600;
    }
  }
  .icon-circle {
    height: 40px;
    width: 40px;
    background-color: $cyan-700;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    .modal-icon {
      color: white;
      width: 20px;
      
    }
  }
  .modal-footer {
    background-color: $gray-200;
    padding: 24px;
    border-radius: 0 0 8px 8px;
    .cancel-button {
      background-color: white;
      border: 1px solid $gray-300;
      color: $gray-700;
    }
    .confirm-button {
      margin-left: 24px;
      background-color: $cyan-700;
      border: 1px solid $gray-300;
    }
  }
}

.dot-grid {
  margin-top: 120px;
  height: 400px;
  background-image: radial-gradient($gray-600 2px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}
