.modal.error-modal {
  color: $text-primary;
  .modal-dialog {
    margin-top: 362px;
  }

  .modal-content {
    background-color: $cool-gray-20;

    .modal-header {
      .btn-close:hover {
        background-color: transparent;
      }
    }

    .modal-footer {
      background-color: $cool-gray-20;
      border-top: none;
      height: 62px;
      padding: 0 12px 0 0;

      .btn {
        height: 38px;
      }

      .error-modal__refresh-button {
        background-color: $button-primary;
        color: $button-secondary;
      }

      .error-modal__cancel-button {
        background-color: $cool-gray-20;
        color: #c1e4ff;
        border: transparent;
      }
    }
  }
}
