.filter-dropdown__button-group {
  width: 100%;
  .filter-dropdown__dropdown {
    .filter-dropdown__dropdown-button {
      border-color: transparent;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;

      &--large {
        &:hover,
        &:focus {
          background-color: #0075db !important;
        }
      }
    }
  }

  .filter-dropdown__clear-button {
    border: transparent;
    &:hover {
      opacity: 0.6;
    }
    flex-grow: 0;
    height: 36px;
    width: 34px;
    line-height: 0;
    padding: 0;
  }

  .filter-dropdown__dropdown {
    flex-grow: 1;
    border-radius: 6px;

    &:not(:only-child) > .filter-dropdown__dropdown-button {
      border-radius: 0 6px 6px 0 !important;
    }

    .filter-dropdown__dropdown-button {
      width: 100%;
      height: 36px;
      font-size: 16px;
      line-height: 24px;
      padding-left: 6px 8px;

      font-family: Inter, sans-serif;
      font-weight: 500;
      align-items: center;

      &--small {
        &:hover {
          opacity: 0.6;
        }
      }

      &.disabled {
        opacity: 0.4;
      }
    }

    .filter-dropdown__dropdown-menu {
      padding: 8px 8px 0 8px;
      border-radius: 6px;

      & > ul {
        padding-left: 0;
      }
    }

    .filter-dropdown__dropdown-item {
      border-radius: 6px;
      padding: 6px 16px;
    }
  }
}
