@use "variables";

.popover {
  --bs-popover-bg: #{variables.$dark-bg};
  --bs-popover-body-color: #{variables.$text-primary};
  --bs-popover-border-color: #{variables.$border-primary};
  margin-bottom: 13px;
}
