.modal-backdrop.alert-not-found {
  left: $sidebar-width;
  opacity: 1;
  background-color: rgba(15, 21, 26, 0.9);
  backdrop-filter: blur(4px);
}
.modal.alert-not-found {
  left: $sidebar-width/2;
  top: 150px;

  .modal-dialog {
    max-width: 600px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.36);
  }
  .modal-content {
    background-color: $cool-gray-40;
    color: $gray-50;
  }
  .modal-body {
    display: flex;
  }
  .modal-icon {
    flex-shrink: 0;
    margin: 4px 26px 0 5px;
  }
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 17px;
  }
  .modal-detail {
    font-weight: 500;
    font-size: 14px;
  }
  .modal-button {
    text-align: left;
    height: 40px;
    width: 262px;
    &__icon {
      margin-right: 11px;
    }
  }
}
