.paess__sign-label {
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-top: 24px;
  margin-bottom: 24px;
}
