.place-row {
  border-radius: 8px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0) 1px
  );

  background-color: $cool-gray-30;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  margin-bottom: 2px;
  border-bottom: 0px;

  &:hover:not(.disabled):not(.open) {
    background-color: $cool-gray-40;
  }

  &.open {
    background-color: $cool-gray-20;
    padding: 0px 0px 16px;
  }

  &.disabled {
    opacity: 0.4;

    .hidden-toggle {
      visibility: hidden;
    }
  }

  &.filtered {
    margin-bottom: 0;
    border-radius: 0;
    border-left: 1px solid $cool-gray-40;
    border-bottom: 1px solid $cool-gray-40;
    border-right: 1px solid $cool-gray-40;

    &:last-child {
      border-radius: 0 0 8px 8px;
    }

    &.open {
      border-radius: 8px;
    }
  }

  .place-row__toggle {
    margin-right: 16px;
  }

  .place-row__map-segment-container {
    margin-right: 16px;
    position: relative;
    overflow: hidden;
    height: 56px;

    &--Red,
    &--Green,
    &--Green-B,
    &--Green-C,
    &--Green-D,
    &--Green-E {
      width: 44px;
    }

    &--Orange,
    &--Blue {
      width: 20px;
    }

    &--flipped {
      transform: scaleY(-1);
    }

    .place-row__map-segment {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  .row {
    height: 56px;
  }

  .place-row__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .place-row__screen-types,
  .place-row__status {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .place-row__mode-line-icon:not(:last-child) {
    margin-right: 8px;
  }
}

.place-row__screen-preview-container {
  background-color: $cool-gray-20;
  margin: 0 12px 0 12px;
  border-radius: 8px;
}
