.report-a-problem-button {
  button {
    border-radius: 6px;
    background-color: $main-blue;
    border: 1px solid rgba(23, 31, 38, 0.3);
    height: 36px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 500;
  }
}
