@use "variables";

@use "bootstrap/scss/bootstrap" with (
  $primary: variables.$theme-primary,
  // Overrides for Bootstrap's `$form-*` variables
  $form-check-input-checked-color: variables.$dark-bg,
  $form-check-input-checked-bg-color: variables.$button-primary,
  $form-check-input-bg: variables.$dark-bg,
  $form-check-input-border: 1px solid variables.$border-primary,
  $form-feedback-invalid-color: variables.$text-error
);
@use "dashboard";
@use "dashboard/places-page";
@use "dashboard/alerts-page";
@use "dashboard/overrides-page";
@use "dashboard/pending-screens-page";
@use "dashboard/pending-screen-detail";
@use "dashboard/alert-details";
@use "dashboard/configure-screens-page";
@use "dashboard/button-image";
@use "dashboard/appbar";
@use "dashboard/bottom-action-bar";
@use "dashboard/configure-screens-workflow-page";
@use "dashboard/pa-messages-page";
@use "dashboard/new-pa-message/new-pa-message";
@use "place-row";
@use "places-action-bar";
@use "filter-dropdown";
@use "screenplay-container";
@use "screen-detail";
@use "screen-simulation";
@use "paess";
@use "alert-card";
@use "map-segment";
@use "alert-not-found";
@use "alert-banner";
@use "animation";
@use "screen-detail-action-bar";
@use "workflow";
@use "sort-label";
@use "search-bar";
@use "dashboard/picker";
@use "error-modal";
@use "dashboard/toast";
@use "dashboard/kebab-menu";

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
}

.filterable-list__header-row {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.screenplay-button {
  background: variables.$main-blue;
  border: 1px solid rgba(23, 31, 38, 0.3);
  border-radius: 6px;

  &:hover {
    background: variables.$hover-blue;
  }
}

.bootstrap-line-icon {
  stroke: white;
}

button,
input[type="button"] {
  letter-spacing: 0.5px;
}

.h1 {
  font-weight: 700;
  font-size: 40px;
}

.h2 {
  font-weight: 700;
  font-size: 32px;
}

.h3 {
  font-weight: 700;
  font-size: 28px;
}

.h4 {
  font-weight: 700;
  font-size: 18px;
}

.h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.body {
  &--regular {
    font-size: 16px;
    font-weight: 400;
  }

  &--medium {
    font-size: 16px;
    font-weight: 500;
  }
}

.button-secondary-outline {
  background-color: transparent;
  border: 1px solid variables.$text-primary;
  color: variables.$text-secondary;

  &:hover {
    background-color: #c1c7ce14;
    border-color: variables.$text-secondary;
  }

  &:focus {
    border-color: #5c636a;
    box-shadow: 0px 0px 0px 4px #6c757d80;
  }
}

.button-primary.btn {
  color: variables.$text-invert;
  background-color: variables.$button-primary;

  &:hover {
    background-color: variables.$button-primary-hover;
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px #8ecdff80;
  }
}

.button-primary-outline {
  background-color: transparent;
  color: variables.$button-primary;
  border: 1px solid variables.$button-primary;

  &:focus {
    box-shadow: 0px 0px 0px 4px #8ecdff80;
  }
}

.invalid-feedback,
.validation-error {
  color: variables.$text-error;
  font-size: 14px;
  margin-top: 4px;
}
