.screen-detail__container {
  background-color: $cool-gray-40;
  border-radius: 8px;
  padding: 24px 16px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.screen-detail__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.screen-detail__screen-type-location {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.screen-detail__iframe-container {
  margin: auto;

  &--bus_shelter_v2 {
    height: 344px;
    width: 193.5px;
  }

  &--bus_eink,
  &--gl_eink_double,
  &--bus_eink_v2,
  &--gl_eink_v2 {
    height: 480px;
    width: 180px;
    background-color: white;
  }

  &--gl_eink_single {
    height: 240px;
    width: 180px;
    background-color: white;
  }

  &--pre_fare_v2 {
    height: 344px;
    width: 387px;
  }
}

.screen-detail__iframe {
  -moz-transform-origin: 0 0;
  transform-origin: 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;

  &--bus_shelter_v2 {
    height: 1920px;
    width: 1080px;

    // scaling provided in designs
    zoom: 0.1792;
    -moz-transform: scale(0.1792);
    transform: scale(0.1792);
    -o-transform: scale(0.1792);
    -webkit-transform: scale(0.1792);
  }

  &--bus_eink,
  &--gl_eink_double,
  &--bus_eink_v2,
  &--gl_eink_v2 {
    height: 3200px;
    width: 1200px;

    // scaling provided in designs
    zoom: 0.15;
    -moz-transform: scale(0.15);
    transform: scale(0.15);
    -o-transform: scale(0.15);
    -webkit-transform: scale(0.15);
  }

  &--gl_eink_single {
    height: 1600px;
    width: 1200px;

    // scaling provided in designs
    zoom: 0.15;
    -moz-transform: scale(0.15);
    transform: scale(0.15);
    -o-transform: scale(0.15);
    -webkit-transform: scale(0.15);
  }

  &--pre_fare_v2 {
    height: 1920px;
    width: 2160px;

    // scaling provided in designs
    zoom: 0.1792;
    -moz-transform: scale(0.1792);
    transform: scale(0.1792);
    -o-transform: scale(0.1792);
    -webkit-transform: scale(0.1792);
  }
}
