.screenplay-container {
  display: flex;
  height: 100vh;
  background-color: $cool-gray-30;

  .page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    color: $text-primary;
    background-color: $dark-bg;

    .page-content__header {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: white;
      padding: 24px 32px;
    }
    .page-content__body {
      padding: 24px 20px;
      min-height: 100%;
    }
  }
}
