.screen-simulation__iframe-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  overflow: hidden;

  .screen-simulation__iframe {
    // DUP, PreFare, Bus Shelter, and Eink v2s all could have scrollbars,
    // so height adjusted to fit
    width: 100%;

    &--busway_v2,
    &--bus_shelter_v2,
    &--elevator_v2 {
      height: 379px;
    }

    &--pre_fare_v2 {
      height: 470px;
    }

    &--bus_eink_v2,
    &--gl_eink_v2 {
      height: 515px;
    }

    &--dup_v2 {
      height: 195px;
    }

    &--pa_ess {
      height: 80px;
      width: 250px;
    }
  }
}
