@import "./colors.scss";

.station-card {
  padding: 12px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;

  &.read-only {
    background: $gray-600;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    > * {
      margin-right: 8px;
    }
  }
  &.confirmation {
    background: white;
    .station-name {
      color: $gray-800;
      font-weight: 600;
    }
    &:first-child {
      padding-top: 0;
    }
  }
  &.published-alert {
    background-color: unset;
    .station-name {
      color: $gray-800;
      font-size: 30px;
      font-weight: 800;
    }
  }

  &.line {
    border-radius: 6px 6px 0 0;
  }

  label {
    display: flex;
    align-items: center;
  }
  input[type="checkbox"] {
    margin: 0 16px 0 0;
  }
  .line-name {
    font-size: 18px;
    line-height: 18px;
    color: white;
    padding: 3px 12px;
    border-radius: 13.5px;
    letter-spacing: 0.375px;
    font-weight: 700;
    &.abbrev {
      padding: 3px 6.56px;
      height: fit-content;
    }
  }
  .station-name {
    flex-grow: 1;
    &.disabled {
      margin-left: 29px;
      font-weight: normal;
      color: $gray-400;
    }
  }
  .screen-icon {
    margin-left: 8px;
    align-self: normal;
  }
}
.station-card.selectable {
  border: 1px solid $gray-200;
  background: white;

  &:last-of-type {
    border-radius: 0 0 6px 6px;
  }
}
.stacked-station-cards {
  width: 100%;
  &.confirmation,
  &.published-alert {
    width: fit-content;
  }
  &.published-alert {
    margin-right: auto;
  }
  .station-card:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .station-card:nth-last-child(2) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .separator:last-child {
    display: none;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: $gray-600;
  display: flex;
  justify-content: center;
  > div {
    height: 1px;
    width: calc(100% - 12px);
    background: $gray-400;
  }
  &.confirmation,
  &.published-alert {
    background: none;
  }
}
