// OFT
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$pink-100: #fce7f3;
$pink-700: #be185d;
$pink-900: #831843;

$cyan-700: #0e7490;
$cyan-900: #164e63;

$bright-yellow: #fbdd01;

// Screenplay
$cool-gray-15: #171f26;
$cool-gray-20: #1e2933;
$cool-gray-30: #2e3f4d;
$cool-gray-40: #3d5366;

$main-blue: #0075db;
$hover-blue: #0075db99;

$mbta-green: #00843d;
$mbta-red: #da291c;
$mbta-blue: #003da5;
$mbta-orange: #ed8b00;
$mbta-bus: #ffc72c;
$mbta-silver: #6c777e;

$sidebar-width: 108px;

$text-primary: #f8f9fa;
$text-disabled: #c6c6c9;
$text-secondary: #c1c7ce;

$theme-primary: #384956;

$border-primary: #8b9198;

$button-primary: #8ecdff;
$button-primary-hover: #72a4cd;
$button-secondary: #212529;

$dark-bg: #0f1417;

$text-link-primary: #c1e4ff;
$text-invert: #212529;
$bg-border-disabled: #353b41;
