@use "variables";

$form-check-input-checked-color: #0f1417;
$form-check-input-checked-bg-color: #8ecdff;
$form-check-input-bg: #0f1417;
$form-check-input-border: 1px solid #8b9198;
$form-feedback-invalid-color: variables.$text-error;
