@use "../variables.scss";

.button-group {
  display: flex;
  flex-direction: column;

  button {
    text-align: left;
    height: 38px;
    color: variables.$text-secondary;
    background-color: variables.$cool-gray-20;
    border: none;
  }
}
