.button-group {
  display: flex;
  flex-direction: column;

  button {
    text-align: left;
    height: 38px;
    color: $text-secondary;
    background-color: $cool-gray-20;
    border: none;
  }
}
