.configure-screens-page {
  display: flex;
  flex-direction: column;
  color: $text-primary;
  background-color: #0f1417;
  overflow-y: scroll;
  min-height: 100%;

  .select-screen-type {
    max-width: 1320px;

    &__title {
      white-space: nowrap;
      width: fit-content;
    }

    .row {
      justify-content: center;
      gap: 24px;
      margin-bottom: 32px;
    }

    .col {
      width: fit-content;
      flex-grow: 0;
      min-width: 306px;
    }
  }

  .bottom-action-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .bottom-action-bar-container {
    justify-content: right;
    height: 78px;

    button {
      margin-left: 8px;
      padding: 6px 12px;
      height: 38px;
    }

    .forward {
      background-color: $form-check-input-checked-bg-color;
      color: black;
      &:hover {
        background-color: #72a4cd;
      }
    }
    .cancel {
      color: #c1e4ff;
      text-decoration: none !important;
    }

    &__icon {
      margin-left: 6px;
      margin-right: 6px;
    }
  }
}
