.kebab-menu-dropdown {
  &__menu {
    padding: 0px;
    background-color: $cool-gray-30;
  }

  &__item {
    background-color: transparent;
    color: white;
    padding-right: 20px;
    padding-left: 20px;

    &:hover,
    &:focus {
      background-color: $cool-gray-15;
      color: white;
    }

    &:first-child {
      padding-top: 8px;
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      padding-bottom: 8px;
      border-radius: 0 0 4px 4px;
    }
    &:only-child {
      border-radius: 4px;
    }
  }
}

.kebab-menu-button {
  padding: 0;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgba(23, 31, 38, 0.3);

  &:hover,
  &:focus {
    background-color: $cool-gray-15;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
