.kebab-menu-dropdown {
  float: right;

  &__menu {
    background-color: $cool-gray-30;

    &:hover {
      background-color: $cool-gray-15;
    }
  }

  &__item {
    background-color: transparent;
    color: white;
    padding-right: 20px;
    padding-left: 20px;

    &:hover,
    &:focus {
      background-color: $cool-gray-15;
      color: white;
    }
  }
}

.kebab-menu-button {
  width: 36px;
  margin-left: 8px;
  float: right;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid rgba(23, 31, 38, 0.3);
  height: 36px;

  &:hover,
  &:focus {
    background-color: $cool-gray-15;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &__icon {
    position: relative;
    right: 3px;
    bottom: 2px;
  }
}
