.pa-message-page-header {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  padding: 24px 40px;
}

.pa-message-filter-selection {
  flex: none;
  text-align: left;
  font-size: 20px;
  width: 200px;
  margin: 0px 20px;
  margin-left: 40px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;

  gap: 48px;

  section {
    display: flex;
    flex-direction: column;
    gap: 8px;

    header {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.pa-message-table-container {
  padding-right: 64px;
  padding-left: 0px;
  margin-left: 20px;
}

.pa-message-table-action-bar {
  .add-new-button {
    display: inline-block;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 4.8px;
    height: 42px;
    width: 129px;
    background-color: $button-primary;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: $button-primary-hover;
    }
  }

  &__plus {
    margin-top: -2px;
    margin-right: 2px;
  }

  &__search {
    flex: none;
    width: 261px;
  }

  &__advance-search {
    flex: none;
    width: 150px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.pa-message-table {
  margin: 16px 14px;
  background-color: $cool-gray-15;

  th,
  td {
    padding-top: 10px;
    padding-left: 16px;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid $theme-secondary;
  }

  td {
    border-bottom: 1px solid $bg-elevation-4;
  }

  &__start-end {
    min-width: 200px;
    padding-right: 0px;
  }

  &__actions {
    padding-top: 0px !important;
    min-width: 102px;

    a {
      color: $text-secondary;
      margin-bottom: 8px;
      display: block;
    }
  }

  &__empty {
    font-weight: bold;
    color: white;
    padding-left: 30px;
  }

  &__loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }
}
