.pending-screens-page {
  height: 100%;

  .add-new-button {
    height: 48px;
    background-color: $button-primary;
    color: #212529;
  }
}

.no-screens-text {
  margin-left: 16px;
}

.last-modified {
  height: 24px;

  line-height: 24px;
  font-weight: 700;
  font-size: 16px;

  margin-left: 16px;
  margin-bottom: 24px;
}

.pending-screens-place-row-accordion {
  border-radius: 8px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0) 1px
  );

  background-color: $cool-gray-30;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  margin-bottom: 2px;
  border-bottom: 0px;
  position: relative;

  &.open {
    padding: 0px 0px 16px;
  }

  &__header {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    .row {
      height: 82px;
      width: 100%;
    }

    .place-info-col {
      gap: 16px;
    }

    .buttons > .btn {
      height: 38px;
    }

    .buttons {
      gap: 8px;

      .edit-button {
        &__icon {
          display: inline-block;
          transform: translateY(-2px);
          margin-right: 8px;
        }

        &__text {
          display: inline-block;
        }
      }

      .publish-button {
        background-color: $button-primary;
        color: #212529;
      }
    }
  }
}
