.new-pa-message-page {
  padding: 24px 40px;
  max-width: 900px;

  form {
    margin: 0;
  }

  &__header {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
  }

  &__associate-alert-subtext {
    color: $text-secondary;
  }

  &__form-buttons {
    padding: 18px 24px;

    .btn {
      height: 38px;

      &:focus {
        box-shadow: 0px 0px 0px 4px #8ecdff80;
      }
    }

    .cancel-button {
      background-color: transparent;
      color: $text-link-primary;
      border: none;
      margin-right: 8px;
    }

    .submit-button {
      background-color: $button-primary;
      color: $button-secondary;
    }
  }

  .when-card,
  .where-card,
  .message-card {
    margin-top: 24px;
    padding: 18px 24px;
    background-color: $cool-gray-20;
    color: white;

    .title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 24px;
    }

    .text-input,
    .interval,
    .dropdown-toggle,
    .date-picker,
    .time-picker {
      background-color: $dark-bg;
      height: 38px;
      color: $text-secondary;
      font-weight: 400;
      border: 1px solid $border-primary;

      &:focus,
      &:focus-within {
        border: 1px solid #a5d7ff;
        box-shadow: 0px 0px 0px 4px #0d6efd40;
      }
    }
  }

  .when-card {
    .label {
      margin-top: 16px;
      margin-bottom: 8px;
      color: $text-secondary;
    }

    .start-datetime,
    .end-datetime {
      width: 100%;

      .datetime-picker-group {
        display: flex;

        .date-picker {
          margin-right: 16px;
        }

        .date-picker,
        .time-picker {
          flex: 0 1 250px;
          height: 38px;
        }
      }
    }

    .days {
      .dropdown {
        width: 250px;

        .dropdown-toggle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .days-form {
        height: 36px;
        padding-top: 8px;
        margin: 0px;
        margin-right: 16px;
      }
    }

    .dropdown-menu {
      background-color: $cool-gray-30;
    }

    .dropdown-item {
      color: $text-primary;
      &:hover {
        background-color: $cool-gray-20;
      }

      &.active {
        background-color: $button-primary;
        color: $button-secondary;
      }

      .item-value {
        font-size: 16px;
      }

      .item-label {
        font-size: 14px;
      }
    }

    .interval {
      width: 80px;
      height: 38px;
      .form-control {
        padding: 7px 13px;
        text-align: end;

        border: 1px solid $border-primary;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
      appearance: textfield;
    }
  }

  .where-card {
    .add-stations-zones-button {
      background-color: $text-link-primary;
      color: $text-invert;
      border: 1px dashed $text-invert;
      width: fit-content;
      vertical-align: middle;
    }
  }

  .message-card {
    .copy-button-col {
      margin-top: 141px;

      .copy-text-button {
        background-color: $bg-border-disabled;
        width: 38px;
        height: 38px;

        &:focus {
          border: 1px solid #a5d7ff;
          box-shadow: 0px 0px 0px 4px #0d6efd40;
        }

        .bi-arrow-right-short {
          fill: $text-disabled;
        }
      }
    }

    .text-input {
      height: 250px;
      resize: none;
    }

    .audio-reviewed-text {
      color: $text-primary;
      margin-top: auto;
      margin-bottom: auto;
      align-self: center;

      span {
        vertical-align: middle;
        margin-right: 16px;
      }
    }

    .review-audio-button {
      color: $button-primary;
      margin: auto;
      padding: 0;
      height: fit-content;
      width: fit-content;

      .bi {
        margin-right: 8px;
      }

      &:focus {
        box-shadow: 0px 0px 0px 4px #8ecdff80;
      }

      &--audio-playing {
        color: $text-primary;
        text-decoration: none;
      }

      &:disabled {
        color: $text-secondary;
        text-decoration: none;
      }
    }

    .review-audio-card {
      height: 250px;
      background-color: $cool-gray-15;
    }

    .message-text-box {
      &:not(:only-child) {
        margin-bottom: 8px;
      }
    }
  }

  .error-alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    z-index: 1001;
  }

  .error-alert {
    width: 400px;
    background-color: #ffdd00;
    font-size: 16px;
    display: flex;
    align-items: center;

    .btn-close {
      &:hover {
        background-color: transparent;
      }
    }

    &__icon {
      height: 24px;
      width: 24px;
      opacity: 60%;
      flex-shrink: 0;
    }

    &__text {
      padding-left: 8px;
    }
  }

  input::-webkit-calendar-picker-indicator {
    display: none;
  }
}
