@use "../../variables";

.alert-description {
  padding: 16px;

  &__header {
    margin-bottom: 8px;
    justify-content: center;
  }

  &__header-id-label {
    display: inline;
    font-size: 20px;
    font-weight: 500;
  }

  &__header-id {
    display: inline;
    font-size: 16px;
    font-weight: 400;
  }
}

.alert-items-modal {
  --bs-modal-color: #{variables.$text-primary};

  .modal-dialog {
    min-width: 800px;
  }

  .modal-content {
    background-color: variables.$cool-gray-20;
    border: 1px solid variables.$border-primary;

    button {
      margin-left: 8px;
      padding: 6px 12px;
      height: 38px;
    }

    .cancel-button {
      color: variables.$text-link-primary;
      text-decoration: none;

      &:hover {
        background-color: variables.$cool-gray-30;
      }
    }

    .apply-button {
      background-color: variables.$button-primary;
      color: black;

      &:hover {
        background-color: #72a4cd;
      }
    }

    .checkbox {
      margin-bottom: 32px;
      margin-left: 16px;

      .subtext {
        margin-top: 4px;
        font-family: Inter;
        font-size: 14px;
        color: variables.$text-secondary;
      }
    }

    .modal-header {
      border-bottom: none;

      .btn-close {
        margin-left: auto;
      }

      .btn-close:hover {
        background-color: transparent;
      }
    }

    .modal-body {
      .alert-description {
        background-color: #2b3741;
        border-radius: 8px;
        border: 1px solid variables.$border-primary;
        margin-bottom: 24px;
      }
    }

    .modal-footer {
      border-top: none;
    }
  }
}
