.new-pa-message-page {
  padding: 24px 40px;
  max-width: 900px;

  form {
    margin: 0;
  }

  &__associate-alert-subtext {
    color: $text-secondary;
  }

  &__form-buttons {
    padding: 18px 24px;

    .btn {
      height: 38px;

      &:focus {
        box-shadow: 0px 0px 0px 4px #8ecdff80;
      }
    }
  }

  .when-card,
  .where-card,
  .message-card {
    margin-top: 24px;
    padding: 18px 24px;
    background-color: $cool-gray-20;
    color: white;

    .title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 24px;
    }

    .text-input,
    .interval,
    .dropdown-toggle,
    .date-picker,
    .time-picker {
      background-color: $dark-bg;
      height: 38px;
      color: $text-secondary;
      font-weight: 400;
      border: 1px solid $border-primary;

      &:focus,
      &:focus-within {
        border: 1px solid #a5d7ff;
        box-shadow: 0px 0px 0px 4px #0d6efd40;
      }
    }
  }

  .when-card {
    .label {
      margin-top: 16px;
      margin-bottom: 8px;
      color: $text-secondary;
    }

    .start-datetime,
    .end-datetime {
      width: 100%;

      .effect-period-switch {
        margin-bottom: 8px;
        .form-check-input:not(:checked) {
          background-color: $dark-bg;
          border-color: $border-primary;
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,.25)'/></svg>");
        }
      }

      .datetime-picker-group {
        display: flex;

        .validation-group,
        .date-picker,
        .time-picker {
          flex: 0 1 250px;
          margin-right: 16px;
        }

        .date-picker,
        .time-picker {
          max-height: 38px;
        }

        .service-time-link {
          height: fit-content;
          color: $text-link-primary;
          padding-left: 0;
        }
      }
    }

    .days {
      .dropdown {
        width: 250px;

        .dropdown-toggle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .days-form {
        height: 36px;
        padding-top: 8px;
        margin: 0px;
        margin-right: 16px;
      }
    }

    .dropdown-menu {
      background-color: $cool-gray-30;
    }

    .dropdown-item {
      color: $text-primary;
      &:hover,
      &:focus {
        background-color: $cool-gray-20;
      }

      &.active {
        background-color: $button-primary;
        color: $text-primary;
      }

      .item-value {
        font-size: 16px;
      }

      .item-label {
        font-size: 14px;
      }
    }

    .interval {
      width: 80px;
      height: 38px;
      .form-control {
        padding: 7px 13px;
        text-align: end;

        border: 1px solid $border-primary;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
      appearance: textfield;
    }
  }

  .where-card {
    .select-stations-and-zones-button-group {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .add-stations-zones-button {
        background-color: transparent;
        color: $button-primary;
        border: 1px dashed $button-primary;
        width: fit-content;
        height: fit-content;
      }
    }
  }

  .message-card {
    .copy-button-col {
      margin-top: 141px;

      .copy-text-button {
        background-color: $bg-border-disabled;
        width: 38px;
        height: 38px;

        &:focus {
          border: 1px solid #a5d7ff;
          box-shadow: 0px 0px 0px 4px #0d6efd40;
        }

        .bi-arrow-right-short {
          fill: $text-disabled;
        }
      }
    }

    .text-input {
      height: 250px;
      resize: none;
    }

    .audio-reviewed-text {
      color: $text-primary;
      margin-top: auto;
      margin-bottom: auto;
      align-self: center;

      span {
        vertical-align: middle;
        margin-right: 16px;
      }
    }

    .review-audio-button {
      color: $button-primary;
      margin: auto;
      padding: 0;
      height: fit-content;
      width: fit-content;

      .bi {
        margin-right: 8px;
      }

      &:focus {
        box-shadow: 0px 0px 0px 4px #8ecdff80;
      }

      &--audio-playing {
        color: $text-primary;
        text-decoration: none;
      }

      &:disabled {
        color: $text-secondary;
        text-decoration: none;
      }
    }

    .review-audio-card {
      height: 250px;
      background-color: $cool-gray-15;
    }

    .message-text-box {
      &:not(:only-child) {
        margin-bottom: 8px;
      }
    }
  }

  .unassociated-alert-header {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;

    button {
      font-size: 20px;
      margin-bottom: 14px;
    }
  }

  .associated-alert-header {
    margin: 40px 0px 0px 16px;
    font-size: 20px;
    font-weight: 500;

    button {
      color: $text-secondary;
      margin-left: 16px;
      margin-bottom: 6px;
      width: auto;
      padding: 0px;
      height: 24px;
    }

    .effect-period,
    .alert-ended {
      margin-top: 4px;
      font-size: 14px;
      font-weight: 400;
      width: 100%;
    }

    .alert-ended {
      color: $text-error;
    }
  }

  .associate-container {
    display: flex;
    align-items: center;
    padding: 0;

    .associate-alert-button,
    .psa-emergency-button {
      display: flex;
      align-items: center;
      margin: 0;
      height: 30px;
      color: $text-link-primary;
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      text-decoration: none;
    }
  }

  .unassociated-alert-header {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;

    button {
      font-size: 20px;
      margin-bottom: 14px;
    }
  }

  .associated-alert-header {
    margin: 40px 0px 0px 16px;
    font-size: 20px;
    font-weight: 500;

    button {
      color: $text-secondary;
      margin-left: 16px;
      margin-bottom: 6px;
      width: auto;
      padding: 0px;
      height: 24px;
    }

    .effect-period {
      margin-top: 4px;
      font-size: 14px;
      font-weight: 400;
      width: 100%;
    }
  }

  .associate-alert-button {
    color: $text-link-primary;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    margin-bottom: 8px;
  }

  input[type="time"],
  input[type="date"] {
    position: relative;
    &::-webkit-calendar-picker-indicator {
      filter: invert(0.75);

      position: absolute;
      right: 0;
      margin-right: 8px;
      color: $text-secondary;
    }
  }
}
