@import "./select-stations-page.scss";
@import "./selected-stations-summary.scss";
@import "./select-zones-page.scss";
@import "./associate-alert-page.scss";

.selected-group-tag {
  height: 36px;
  padding: 6px 12px;
  border: 1px solid $text-secondary;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    color: $text-primary;
  }

  &--green {
    background-color: $mbta-green;
  }
  &--red {
    background-color: $mbta-red;
  }
  &--orange {
    background-color: $mbta-orange;
  }
  &--blue {
    background-color: $mbta-blue;
  }
  &--mattapan {
    background-color: $mbta-red;
  }
  &--silver {
    background-color: $mbta-silver;
  }
  &--bus {
    background-color: $mbta-bus;
    fill: $text-invert;

    .label {
      color: $text-invert;
    }

    .x-button {
      fill: $text-invert;
    }
  }
}
