@use "../../variables.scss";
@use "select-stations-page.scss";
@use "selected-stations-summary.scss";
@use "select-zones-page.scss";
@use "associate-alert-page.scss";

.selected-group-tag {
  height: 36px;
  padding: 6px 12px;
  border: 1px solid variables.$text-secondary;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    color: variables.$text-primary;
  }

  &--green {
    background-color: variables.$mbta-green;
  }
  &--red {
    background-color: variables.$mbta-red;
  }
  &--orange {
    background-color: variables.$mbta-orange;
  }
  &--blue {
    background-color: variables.$mbta-blue;
  }
  &--mattapan {
    background-color: variables.$mbta-red;
  }
  &--silver {
    background-color: variables.$mbta-silver;
  }
  &--bus {
    background-color: variables.$mbta-bus;
    fill: variables.$text-invert;

    .label {
      color: variables.$text-invert;
    }

    .x-button {
      fill: variables.$text-invert;
    }
  }
}
