.selected-stations-summary {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: $cool-gray-30;
  margin: 40px 40px 0 40px;
  padding: 15px 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  white-space: nowrap;

  .label {
    margin-right: 8px;
  }

  span {
    color: $text-secondary;
  }

  .geo-alt-fill-icon {
    margin-right: 7px;
  }

  .no-tags {
    // same height as the tags; avoids layout jumping when number of tags goes
    // from 0 to 1 or vice-versa
    line-height: 36px;
  }

  .selected-stations-tags {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
  }
}
