.selected-stations-summary {
  display: flex;
  align-items: center;
  height: 52px;
  border-radius: 8px;
  background-color: $cool-gray-30;
  margin: 40px 40px 0 40px;
  padding: 15px 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  .label {
    margin-right: 8px;
  }

  span {
    color: $text-secondary;
  }

  .geo-alt-fill-icon {
    margin-right: 7px;
  }
}
