// Because this page is not a unique route, we cannot conditionally render
// Sidebar the same way we do elsewhere.
.sidebar-container:has(
    + .page-content > .new-pa-message > .select-stations-page
  ) {
  display: none !important;
}

.select-stations-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 24px 40px 0 40px;

    .buttons {
      display: flex;
      align-items: center;

      .btn {
        height: 38px;
      }
    }
  }

  .container-fluid {
    display: flex;
    margin-top: 40px;
    padding: 0;
    padding-bottom: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 0;
    scrollbar-color: $theme-secondary $bg-elevation-4;

    .form-check {
      display: flex;
      padding: 0;

      .form-check-input {
        height: 16px;
        width: 16px;
        margin-left: 0;
        margin-right: 8px;
      }

      .form-check-label {
        flex-grow: 1;
      }
    }

    .col {
      background-color: $cool-gray-20;
      border-radius: 0px 0px 8px 8px;
      margin-right: 24px;
      display: flex;
      flex-direction: column;

      &:first-child {
        margin-left: 40px;
      }

      &:last-child {
        margin-right: 40px;
      }

      .col-content {
        padding: 8px 16px;
      }
    }

    .title {
      padding: 8px 16px;
      border-radius: 8px 8px 0px 0px;
      width: 100%;
      height: 40px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
    }

    .station-groups-col {
      min-width: 273px;

      .title {
        background-color: $cool-gray-40;
      }

      .route-groups {
        padding: 0 16px;

        &:nth-child(2) {
          padding-top: 16px;
        }

        &:last-child {
          padding-bottom: 16px;
        }

        .station-group {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
      }

      .col-content {
        height: 100%;
        overflow-y: auto;
        padding-left: 0;
      }

      .group-title {
        color: $text-secondary;
      }

      hr {
        margin-top: 24px;
        margin-bottom: 8px;
      }
    }

    .route-col {
      min-width: 304px;

      .station-name {
        margin-bottom: 6px;
      }

      &--green {
        .title {
          background-color: $mbta-green;
          height: fit-content;
        }

        .branches-col {
          overflow-y: auto;
          height: 100%;

          .title {
            border-radius: 0;
            background-color: $bg-elevation-4;
            font-size: 16px;
          }
        }
      }

      &--red,
      &--mattapan {
        .title {
          background-color: $mbta-red;
        }
      }

      &--orange {
        .title {
          background-color: $mbta-orange;
        }
      }

      &--blue {
        .title {
          background-color: $mbta-blue;
        }
      }

      &--silver {
        .title {
          background-color: $mbta-silver;
        }
      }

      &--bus {
        .title {
          color: $text-invert;
          background-color: $mbta-bus;
        }
      }
    }

    .route-col--red,
    .route-col--mattapan,
    .route-col--orange,
    .route-col--blue,
    .route-col--silver,
    .route-col--bus {
      height: fit-content;
      max-height: 100%;

      .col-content {
        flex-basis: content;
        overflow-y: auto;
      }
    }
  }
}
