@import "./message-tables.scss";

.static-template-page {
  padding: 24px 48px;

  .header-container {
    max-width: 1380px;
    max-height: 48px;
    margin-bottom: 40px;

    .header,
    .cancel-button-col,
    .cancel-button {
      height: 48px;
    }

    .cancel-button-col {
      flex: none;
      width: 100px;

      .cancel-button {
        color: $text-link-primary;
        text-decoration: none;

        &:hover {
          color: $text-link-primary;
          background-color: $cool-gray-15;
        }
      }
    }
  }

  .static-template-page-body {
    .filter-group-col {
      max-width: 200px;
      margin-right: 48px;
    }

    .static-template-table-header {
      font-size: 32px;
    }
  }
}
